<!DOCTYPE html>
<html>
<head>
	<title>Reader</title>
</head>
<body>
<h1>This is the reader</h1>
<form action="/reader" method="POST">
    <input type="text" name="age" placeholder="Age">
    <button type="submit">Save</button>
  </form>

<ul>
	<li><%=@person%></li>
	
</ul>
</body>
</html>